In [1]:
import pandas as pd

In [2]:
# Reading the data 

crop_data_path = r'D:\TY\SEM V\EDI\EDAI\EDAI\datasets\cpdata.csv'
fertilizer_data_path = r'D:\TY\SEM V\EDI\EDAI\EDAI\datasets\Fertilizer.csv'

crop = pd.read_csv(crop_data_path)
fert = pd.read_csv(fertilizer_data_path)

In [3]:
crop.head()

   temperature   humidity        ph  WaterLevel label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
fert.head()

   Unnamed: 0                  Crop   N   P   K   pH
0           0                 Basil  80  40  40  5.5
1           1                  Mint  80  40  40  5.5
2           2               Oregano  70  40  45  5.5
3           3               Parsley  80  40  20  5.5
4           4  Cilantro (Coriander)  50  40  20  5.5

In [5]:
# Function for lowering the cases
def change_case(i):
    i = i.replace(" ", "")
    i = i.lower()
    return i

In [6]:
fert['Crop'] = fert['Crop'].apply(change_case)
crop['label'] = crop['label'].apply(change_case)

In [7]:

#make some changes in Crop Dataset

fert['Crop'] = fert['Crop'].replace('mungbeans','mungbean')
fert['Crop'] = fert['Crop'].replace('lentils(masoordal)','lentil')
fert['Crop'] = fert['Crop'].replace('pigeonpeas(toordal)','pigeonpeas')
fert['Crop'] = fert['Crop'].replace('mothbean(matki)','mothbeans')
fert['Crop'] = fert['Crop'].replace('chickpeas(channa)','chickpea')

In [8]:

crop.head()

   temperature   humidity        ph  WaterLevel label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [9]:

crop.tail()

      temperature   humidity        ph  WaterLevel       label
3095    25.287846  89.636679  6.765095   58.286977  watermelon
3096    26.638386  84.695469  6.189214   48.324286  watermelon
3097    25.331045  84.305338  6.904242   41.532187  watermelon
3098    26.897502  83.892415  6.463271   43.971937  watermelon
3099    26.986037  89.413849  6.260839   58.548767  watermelon

In [10]:
crop_names = crop['label'].unique()
crop_names

array(['rice', 'wheat', 'mungbean', 'tea', 'millet', 'maize', 'lentil',
       'jute', 'coffee', 'fenugreekleaves', 'groundnut', 'peas', 'rubber',
       'sugarcane', 'tobacco', 'kidneybeans', 'mothbeans', 'ridgegourd',
       'blackgram', 'adzukibeans', 'pigeonpeas', 'chickpea',
       'bittergourd', 'brinjal', 'drumstick', 'okra', 'muskmelon',
       'clusterbeans', 'ivygourd', 'bottlegourd', 'watermelon'],
      dtype=object)

In [11]:

fert.head()

   Unnamed: 0                 Crop   N   P   K   pH
0           0                basil  80  40  40  5.5
1           1                 mint  80  40  40  5.5
2           2              oregano  70  40  45  5.5
3           3              parsley  80  40  20  5.5
4           4  cilantro(coriander)  50  40  20  5.5

In [12]:

del fert['Unnamed: 0']

In [13]:
crop_names_from_fert = fert['Crop'].unique()
crop_names_from_fert

array(['basil', 'mint', 'oregano', 'parsley', 'cilantro(coriander)',
       'rosemary', 'thyme', 'sage', 'dill', 'chives', 'tarragon',
       'lemongrass', 'stevia', 'marjoram', 'lavender', 'lettuce',
       'spinach', 'arugula', 'swisschard', 'kale', 'mustardgreens',
       'collardgreens', 'endive', 'watercress', 'romainelettuce',
       'bokchoy', 'mizuna', 'tatsoi', 'radicchio', 'escarole', 'tomatoes',
       'cucumbers', 'bellpeppers', 'chilipeppers', 'zucchini', 'squash',
       'eggplant', 'broccoli', 'cauliflower', 'cabbage', 'celery',
       'brusselssprouts', 'carrots', 'beetroot', 'radishes', 'kohlrabi',
       'turnips', 'peas', 'beans(greenbeans,polebeans)', 'asparagus',
       'leeks', 'fennel', 'strawberries', 'blueberries', 'blackberries',
       'raspberries', 'grapes', 'watermelon', 'cantaloupe(muskmelon)',
       'honeydewmelon', 'pineapple', 'kiwi', 'figs', 'microgreens',
       'alfalfa', 'wheatgrass', 'sorrel', 'amaranth', 'cornsalad',
       'basilthai', 'mustardcress', 'purslane', 'shiso', 'babyspinach',
       'pakchoi(babybokchoy)', 'peashoots', 'redmustard', 'mizunapurple',
       'parsleyflat-leaf', 'leafcelery', 'lemonbalm', 'hyssop',
       'nasturtium', 'calendula', 'mustardspinach', 'radishsprouts',
       'peatendrils', 'snowpeas', 'swissmint', 'thymeenglish',
       'lemonbasil', 'summersavory', 'okra', 'peppermint', 'chamomile',
       'dillgiant', 'tarragonrussian'], dtype=object)

In [14]:

for i in crop_names_from_fert:
    print(crop[crop['label'] == i])

Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
      temperature   humidity        ph  WaterLevel label
1100    18.358748  13.382365  6.249825   54.855803  peas
1101    17.524254  13.885678  6.485207   45.993709  peas
1102    18.857026  13.002438  6.629290   52.483552  peas
1103    18.341554  13.791686  6.298005   51.955565  peas
1104    16.329481  13.046447  6.792862   45.678054  peas
...           ...        ...       ...         ...   ...
1195    16.096108  13.232484  6.251010   52.457390  peas
1196    18.458702  13.549201  5.826657   54.045057  peas
1197    18.592381  13.336122  6.148212   48.677841  peas
1198    17.090164  13.792088  5.863907   50.186625  peas
1199    18.648379  13.955918  5.958581   51.133305  peas

[100 rows x 5 columns]
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
      temperature   humidity        ph  WaterLevel       label
3000    26.473302  80.922544  6.283818   53.657426  watermelon
3001    25.187800  83.446217  6.818261   46.874209  watermelon
3002    25.299547  81.775276  6.376201   57.041471  watermelon
3003    24.746313  88.308663  6.581588   57.958261  watermelon
3004    26.587407  81.325632  6.932740   41.875400  watermelon
...           ...        ...       ...         ...         ...
3095    25.287846  89.636679  6.765095   58.286977  watermelon
3096    26.638386  84.695469  6.189214   48.324286  watermelon
3097    25.331045  84.305338  6.904242   41.532187  watermelon
3098    26.897502  83.892415  6.463271   43.971937  watermelon
3099    26.986037  89.413849  6.260839   58.548767  watermelon

[100 rows x 5 columns]
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
      temperature   humidity        ph  WaterLevel label
2500    29.737700  47.548852  5.954627   90.095869  okra
2501    33.556956  53.729798  4.757115   98.675276  okra
2502    27.003155  47.675254  5.699587   95.851183  okra
2503    33.561502  45.535566  5.977414   95.705259  okra
2504    35.898556  54.259642  6.430139   92.197217  okra
...           ...        ...       ...         ...   ...
2595    31.484517  48.779263  4.525722   93.172220  okra
2596    27.698193  51.415932  5.403908  100.772070  okra
2597    30.412358  52.481006  6.621624   93.923759  okra
2598    32.177520  54.013527  6.207496   91.887661  okra
2599    32.611261  47.749165  5.418475   91.101908  okra

[100 rows x 5 columns]
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []
Empty DataFrame
Columns: [temperature, humidity, ph, WaterLevel, label]
Index: []

In [15]:

crop['label']

0             rice
1             rice
2             rice
3             rice
4             rice
           ...
3095    watermelon
3096    watermelon
3097    watermelon
3098    watermelon
3099    watermelon
Name: label, Length: 3100, dtype: object

In [16]:
extract_labels = []
for i in crop_names_from_fert:
    if i in crop_names:
        extract_labels.append(i)

In [17]:

# using extract labesl on crop to get all the data related to those labels
new_crop = pd.DataFrame(columns = crop.columns)
new_fert = pd.DataFrame(columns = fert.columns)

In [18]:
import pandas as pd

# Assuming crop is your original DataFrame
new_crop_list = []  # Create an empty list to hold the DataFrames

for label in extract_labels:
    # Filter the DataFrame for the current label and add it to the list
    filtered_df = crop[crop['label'] == label]
    new_crop_list.append(filtered_df)

# Concatenate all DataFrames in the list into a single DataFrame
new_crop = pd.concat(new_crop_list, ignore_index=True)

In [19]:
import pandas as pd

new_fert_list = []  # Create an empty list to hold the DataFrames

for label in extract_labels:
    # Filter the DataFrame for the current label
    filtered_row = fert[fert['Crop'] == label].iloc[0]
    new_fert_list.append(filtered_row)

# Concatenate all filtered rows into a single DataFrame
new_fert = pd.concat(new_fert_list, axis=1).T.reset_index(drop=True)

In [20]:
new_crop

     temperature   humidity        ph  WaterLevel label
0      18.358748  13.382365  6.249825   54.855803  peas
1      17.524254  13.885678  6.485207   45.993709  peas
2      18.857026  13.002438  6.629290   52.483552  peas
3      18.341554  13.791686  6.298005   51.955565  peas
4      16.329481  13.046447  6.792862   45.678054  peas
..           ...        ...       ...         ...   ...
295    31.484517  48.779263  4.525722   93.172220  okra
296    27.698193  51.415932  5.403908  100.772070  okra
297    30.412358  52.481006  6.621624   93.923759  okra
298    32.177520  54.013527  6.207496   91.887661  okra
299    32.611261  47.749165  5.418475   91.101908  okra

[300 rows x 5 columns]

In [21]:
new_fert

         Crop    N   P   K   pH
0        peas   60  60  50  6.0
1  watermelon  100  40  90  6.0
2        okra   25  40  40  5.5

In [22]:
new_crop.to_csv(r'D:\TY\SEM V\EDI\EDAI\EDAI\datasets\MergeFileCrop.csv')
new_fert.to_csv(r'D:\TY\SEM V\EDI\EDAI\EDAI\datasets\FertilizerData.csv')